@import "./custom/file-header.css";
/**
 * The line above injects the WordPress file header. It needs to be first,
 * before this comment.
 */

@import "./custom/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
