@import "./custom/file-header.css";
@import "./custom/base.css";
@import "./custom/components/button.css";
@import "./custom/components/sections.css";
@import "./custom/components/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
