@layer components {
    .section {
      @apply py-20 px-4;
    }
  
    .section-container {
      @apply max-w-7xl mx-auto;
    }
  
    .section-title {
      @apply text-left text-4xl md:text-5xl
             font-semibold mb-16 relative;
    }
  
    .section-title::after {
      content: '';
      @apply block mx-auto mt-4 h-1 w-20
             bg-gradient-to-r
             from-tt-pink-accent to-[#DFB5BD]
             rounded;
    }
  
    .section-text {
      @apply text-gray-600 leading-relaxed;
    }
  }
  