@layer base {
  html, body {
    @apply font-body text-tt-dark-navy bg-tt-light-bg antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold text-tt-dark-navy;
  }

  p {
    @apply text-base leading-relaxed text-gray-700;
  }

  img {
    @apply block max-w-full h-auto;
  }
}
